{% extends "bootstrap.html" %}
{% block content %}

<div class="container">
  <h2>{{ title }}</h2>
  <p>{{ subtitle }}</p>
  <div class="row">
        <div class="span">
            <form action = "form.php" method="get" id="custom-search-form" class="form-group">
                <div class="input-append span">
                    <input required type="text" name = "search" class="search-query" placeholder="Search">
                    <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        </div>
  </div>
</div>
  <table class="table table-bordered">
  	<thead>
      <tr>
        <th>English Word</th>
        <th>Latin Word</th>
      </tr>
    </thead>
    <tbody>
        {% for key in englishToLatin|keys %}
         <tr> <td class="col-md-6">{{key}}</td>
 <td class="col-md-6">{{englishToLatin[key]}}</td> </tr>
 {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}


