{% extends "bootstrap.html" %}
{% block content %}

<div class="container">
  <h2>{{ title }}</h2>
  <p>{{ subtitle }}</p>
  <div class="row">
        <div class="span">
            <form id="custom-search-form" class="form-search form-horizontal pull-left">
                <div class="input-append span">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        </div>
  </div>
</div>           
  <table class="table table-bordered">
  	<thead>
      <tr>
        <th>English Word</th>
        <th>Latin Word</th>
      </tr>
    </thead>
    <tbody> 
        {% for key in englishToLatin|keys %}
         <tr> <td class="col-md-6">{{key}}</td> 
 <td class="col-md-6">{{englishToLatin[key]}}</td> </tr>
 {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


